<div>
  <form [formGroup]="newRule" (ngSubmit)="onSubmit()">

    <label>Basic:</label>

    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput type="text" formControlName="name" id="search-text">
    </mat-form-field>


    <mat-form-field appearance="outline">
      <mat-label>Number</mat-label>
      <input matInput type="text" formControlName="number" id="search-text">
    </mat-form-field>


    <mat-form-field appearance="outline">
      <mat-label>Time</mat-label>
      <input matInput type="text" formControlName="time" id="search-text">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>OS</mat-label>
      <mat-select formControlName="os">
        <mat-option *ngFor="let os of osList" [value]="os">
          {{os}}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <mat-form-field appearance="outline">
      <mat-label>Type</mat-label>
      <mat-select formControlName="type">
        <mat-option *ngFor="let type of types" [value]="type">
          {{type}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Message</mat-label>
      <input matInput type="text" formControlName="message" id="search-keywords">
    </mat-form-field>


    <mat-form-field appearance="outline">
      <mat-label>Send Message</mat-label>
      <input matInput type="text" formControlName="sendMessage" id="search-keywords">
    </mat-form-field>


    <button mat-button color="primary" type="submit">
      <mat-icon>search</mat-icon>
      <span>Search</span>
    </button>

  </form>
</div>
