<div class="page">
  <app-toolbar class="header"></app-toolbar>

  <div class="content">
    <div *ngIf="_content==='euc'">
      <app-euc-preview></app-euc-preview>
    </div>
    <div *ngIf="_content==='ic'">
      <app-ic-preview></app-ic-preview>
    </div>
    <div *ngIf="_content==='all'">
      <app-all-preview></app-all-preview>
    </div>
  </div>
  <div class="footer">
    <div *ngIf="role === 'ROLE_ADMIN' && (_content==='euc' || _content==='ic')"
         fxLayoutAlign="end"
         id="add">
      <button mat-fab color="primary" [routerLink]='["/dashboard/create", _content]'>
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
</div>
